<input class="{{#hasError}}error{{/hasError}}" name="{{name}}" disabled="{{#disabled}}disabled{{/disabled}}" readonly="{{#readOnly}}readonly{{/readOnly}}" autofocus="{{#autoFocus}}autofocus{{/autoFocus}}" value="{{value}}" type="{{type}}" spellcheck="{{#spellCheck}}spellcheck{{/spellCheck}}" autocomplete="{{autoComplete}}"/>